$whitecolor : #FFFFFF;
$titlecolor: #1E1E1E;
$orangecolor:  #E58411;
$sellingproductpagebackgroundcolor:#F7F7F7;
$productcardtitlecolor: #8D8D8D;
$productcardsubtitle: #0D1B39;
$productimagebgcolor: #FAFAFA;
$tabsbackgroundcolor: #EEEEEE;
$copyrightcolor: #1E2833;




$mediaSizes: (
  'xsm':400px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
);



